
table {
  border-collapse: collapse;
  width: 100%;
  
}


tr:nth-child(odd) {
  background-color: #eeeeee;
}

.top{
  border: 2px solid black;
  border-bottom: unset;
 
  
}
.mid{
  border: solid black 2px;
  border-top: 1px solid #a7a6a6;;
  border-bottom: 1px solid #a7a6a6;;
}
.bottom{
  border: 2px solid black;
  border-top: 1px solid #a7a6a6; ;
}
td, th {
  border: 1px solid #a7a6a6;
  text-align: center;
  padding: 10px 8px;
}

p{
    text-align: center;
}
